<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- PAGE settings -->
    <link rel="icon" href="https://templates.pingendo.com/assets/Pingendo_favicon.ico">
    <title>Checkout</title>
    <meta name="description" content="Wireframe design of a checkout form by Pingendo">
    <meta name="keywords" content="Pingendo bootstrap example template wireframe checkout form">
    <meta name="author" content="Pingendo">
    <!-- CSS dependencies -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="wireframe.css">
</head>

<body class="bg-secondary text-body">
    <div class="py-5">
        <div class="container">
            <div class="row">
                <div class="text-center col-md-7 mx-auto">
                    <i class="fa d-block fa-5x mb-4 fa-user text-dark"></i>
                    <h2><b>Supervisor View</b></h2>
                    <p class="lead">Please enter your information below.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="" style="">
        <div class="container">
            <div class="row">
                <div class="col-md-12 order-md-1">
                    <h4 class="mb-3"><b>Information</b></h4>
                    <form class="needs-validation" novalidate="" action="/gaa/register_supervisor/" method="post">
       {%csrf_token%}
<fieldset>
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" name="name" placeholder="" value="" required="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="email">Email <span class="text-muted"></span></label>
                            <input type="email" class="form-control" name="email" placeholder="you@example.com" required="required">
                        </div>
                        <div class="mb-3">
                            <label for="email">Group Size<span class="text-muted"></span></label>
                            <input type="number" class="form-control" name="group_size" min="1" required="required" placeholder="Enter the number of participants in each group e.g. 3">
                        </div>
                        <div class="mb-3">
                            <label for="email">Gender weight&nbsp;<span class="text-muted"></span></label>
                            <input type="range" name="gender_weight" min="{{ weight_min }}" max="{{ weight_max  }}">
                        </div>
                        <div class="mb-3">
                            <label for="email">Preference weight<span class="text-muted"></span></label>
                            <input type="range" name="preference_weight" min="{{ weight_min }}" max="{{ weight_max  }}">
                        </div>
</fieldset>
            	<input class="btn btn-lg btn-block btn-dark" type="submit" value="Submit">
                    </form>


                </div>
            </div>
        </div>
    </div>
    <div class="py-5 text-muted text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12 my-4">
                    <p class="mb-1">© 2022 Group 1 LTD</p>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="#">Privacy</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">Terms</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">Support</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
	<p> {{message}}</p>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="assets/js/validation.js"></script>
    <pingendo onclick="window.open('https://pingendo.com/', '_blank')" style="cursor:pointer;position: fixed;bottom: 20px;right:20px;padding:4px;background-color: #00b0eb;border-radius: 8px; width:220px;display:flex;flex-direction:row;align-items:center;justify-content:center;font-size:14px;color:white">Made with Pingendo Free&nbsp;&nbsp;<img src="https://pingendo.com/site-assets/Pingendo_logo_big.png" class="d-block" alt="Pingendo logo" height="16"></pingendo>
</body>

</html>
